<div id="<%= dom_id livro %>">
  <p>
    <strong>Title:</strong>
    <%= livro.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= livro.nota %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= livro.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= livro.text %>
  </p>

</div>
